
body {
}


h1 {
    text-align: center;
}

header{
	background-color: lightblue;
	margin:10px 10px;
	border:10px;
	padding:10px;
}

#top-header{
	background-color: lightblue;
	padding-top:5px;
}

.logo-img{
margin-top:0.1em;
margin-right: 50px;
}
.logo-name{
	float:right;
}
#nav{
	margin-top: 50px;
	border-top: 6px solid red;
	background-color: lightgrey;
}
}

/* ===== MODULAR STYLES ===== */
/* === media queiries === */
/* 400px Break Point 1: Extra Small Devices, Phones */
@media screen and (max-width: 354px) { 

   
        
}
/* 658px Break Point 2: Small Devices, Tablets, PCs */
@media screen and (min-width: 658px) {

   
        
}

/* 992px Break Point 3: Desktop Computers, Large screens */
@media screen and (min-width: 996px) {



/* ===== STATE STYLES ======= */