
body {
    font-family: '', sans-serif;
	color:black;
   
}


h1 {
    text-align: center;
}

header{
	color:blue
}
#logo{
	width: 100%;
	height: 10;
}
#logo-name{
	float:right;
}
/* ===== MODULAR STYLES ===== */
/* === media queiries === */
/* 400px Break Point 1: Extra Small Devices, Phones */
@media screen and (max-width: 354px) { 

   
        
}
/* 658px Break Point 2: Small Devices, Tablets, PCs */
@media screen and (min-width: 658px) {

   
        
}

/* 992px Break Point 3: Desktop Computers, Large screens */
@media screen and (min-width: 996px) {



/* ===== STATE STYLES ======= */