
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
height:100%;
}

.header {
  background-color: lightblue;
  padding: 10px 30px 5px 10px;
  padding-bottom:7em;
  text-align: center;
}

.header img, h1 {
	float: left;
}
.header img{
	border-right: solid black;
	border-width: 3px;
}
.header h1{
	padding-top:1.5em;
	padding-left:.3em;
	font-size:50px;
}


/* Navbar container */
#navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
#navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 19px 17px;
  text-decoration: none;
  width:25%;/*equal widths for tabs*/
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  width:20%;
  text-align:center;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding-top: 19px;
  padding-bottom:17px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
	width:100%;
}

/* Add a red background color to navbar links on hover */
#navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  left:0;
  background-color: lightblue;
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width:100%;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: left;
  color: black;
  text-decoration: none;
  
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*class for events and about made equal width*/
#eventsdown a{
	width:22.4%;
}
#aboutdown a{
	width:17.4%;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-top:solid 10px blue;
}

.sticky + .content {
  padding-top: 60px;
}

/*==========HERO IMAGEFOR PAGES========*/


/*footer*/
footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1em;
	background-color: #efefef;
	text-align: center;
}



/*==========CSS-=========*/

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/*==========BANNER-----------*/
.banner{
	width: 100%;
	display:block;
}
.banner > .banner-image{
	width:100%;
	display:block;
}

/*==========FOOTER STYLE-----------*/

footer{
  background-color: #2F3648;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

footer p {
  padding-bottom: 10px;
}





/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}





/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

/* ===== MODULAR STYLES ===== */
/* === media queiries === */
/* 400px Break Point 1: Extra Small Devices, Phones */
@media screen and (max-width: 354px) { 

        
}
/* 658px Break Point 2: Small Devices, Tablets, PCs */
@media screen and (max-width: 658px) {
	.column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

}

/* 992px Break Point 3: Desktop Computers, Large screens */
@media screen and (min-width: 996px) {


   

/* ===== STATE STYLES ======= */